<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="registration-content ion-padding">
  <ion-list>

    <!-- First Name -->
    <ion-item>
      <ion-input
        label="First Name *"
        label-placement="floating"
        fill="outline"
        autocomplete="given-name"
        [(ngModel)]="firstName"
        (ionInput)="autoUppercaseLive($event, 'firstName')"
        (blur)="validateName('firstName')"
        required>
      </ion-input>
    </ion-item>
    <ion-note *ngIf="nameErrors['firstName']" color="danger" class="ion-padding-start">
      {{ nameErrors['firstName'] }}
    </ion-note>

    <!-- Middle Name -->
    <ion-item>
      <ion-input
        label="Middle Name"
        label-placement="floating"
        fill="outline"
        autocomplete="additional-name"
        [(ngModel)]="middleName"
        (ionInput)="autoUppercaseLive($event, 'middleName')"
        (blur)="validateName('middleName')">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="nameErrors['middleName']" color="danger" class="ion-padding-start">
      {{ nameErrors['middleName'] }}
    </ion-note>

    <!-- Last Name -->
    <ion-item>
      <ion-input
        label="Last Name *"
        label-placement="floating"
        fill="outline"
        autocomplete="family-name"
        [(ngModel)]="lastName"
        (ionInput)="autoUppercaseLive($event, 'lastName')"
        (blur)="validateName('lastName')"
        required>
      </ion-input>
    </ion-item>
    <ion-note *ngIf="nameErrors['lastName']" color="danger" class="ion-padding-start">
      {{ nameErrors['lastName'] }}
    </ion-note>

    <!-- Date of Birth -->
    <ion-item>
      <ion-label>Date of Birth <span style="color:red">*</span></ion-label>
      <ion-datetime-button datetime="dob"></ion-datetime-button>
    </ion-item>

    <ion-datetime
      id="dob"
      presentation="date"
      [(ngModel)]="dob"
      (ionChange)="checkAge($event.detail.value)"
      [max]="maxDate"
      show-default-buttons="true">
    </ion-datetime>

    <!-- Age Display -->
    <ion-text color="medium" *ngIf="calculatedAge > 0 && !isUnderage">
      <p class="ion-padding-start">You are {{ calculatedAge }} years old.</p>
    </ion-text>
    <ion-text color="danger" *ngIf="isUnderage">
      <p class="ion-padding-start">You must be at least 18 years old to register.</p>
    </ion-text>

    <!-- Gender -->
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" interface="popover">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Civil Status -->
    <ion-item>
      <ion-label>Civil Status</ion-label>
      <ion-select [(ngModel)]="civilStatus" interface="popover">
        <ion-select-option value="Single">Single</ion-select-option>
        <ion-select-option value="Married">Married</ion-select-option>
        <ion-select-option value="Widowed">Widowed</ion-select-option>
      </ion-select>
    </ion-item>

  <!-- Contact Number with Separate Boxes -->
<div class="phone-container">
  <!-- +63 Box -->
  <ion-item class="phone-box prefix-box" fill="outline" lines="none">
    <ion-label class="prefix-label">(+63)</ion-label>
  </ion-item>

  <!-- Phone Input Box -->
  <ion-item class="phone-box input-box" fill="outline" lines="none">
    <ion-input
    label="Contact Number"
      label-placement="floating"
      type="tel"
      inputmode="numeric"
      maxlength="10"
      pattern="[0-9]*"
      placeholder="9123456789"
      [(ngModel)]="contact">
    </ion-input>
  </ion-item>
</div>



    <!-- Purok -->
    <ion-item>
      <ion-label>Purok <span style="color:red">*</span></ion-label>
      <ion-select [(ngModel)]="purok" interface="popover" required>
        <ion-select-option *ngFor="let area of purokOptions" [value]="area">
          {{ area }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Barangay -->
    <ion-item>
      <ion-input
        label="Barangay"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="barangay"
        (ionInput)="autoUppercaseLive($event, 'barangay')">
      </ion-input>
    </ion-item>

    <!-- City -->
    <ion-item>
      <ion-input
        label="City / Municipality"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="city"
        (ionInput)="autoUppercaseLive($event, 'city')">
      </ion-input>
    </ion-item>

    <!-- Province -->
    <ion-item>
      <ion-input
        label="Province"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="province"
        (ionInput)="autoUppercaseLive($event, 'province')">
      </ion-input>
    </ion-item>

    <!-- Postal Code -->
    <ion-item>
      <ion-input
        label="Postal Code"
        label-placement="floating"
        fill="outline"
        type="number"
        [(ngModel)]="postalCode">
      </ion-input>
    </ion-item>

    <!-- Password -->
<ion-item class="password-item">
  <ion-input
    label="Password"
    label-placement="floating"
    fill="outline"
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="password"
    (focus)="passwordFocused = true"
    (blur)="passwordFocused = false"
    class="custom-password-input">
  </ion-input>

  <!-- REMOVE any <ion-icon> outside this ion-item -->
  <ion-icon
    [name]="showPassword ? 'eye-off' : 'eye'"
    class="password-toggle-icon"
    slot="end"
    (click)="togglePasswordVisibility()"
    *ngIf="password || passwordFocused">

  </ion-icon>
</ion-item>


    <ion-note *ngIf="passwordError" color="danger" class="ion-padding-start">
      Password must be at least 8 characters, include uppercase, lowercase, and a special character.
    </ion-note>

    <!-- Confirm Password -->
<ion-item class="password-item">
  <ion-input
    label="Confirm Password"
    label-placement="floating"
    fill="outline"
    [type]="showConfirm ? 'text' : 'password'"
    [(ngModel)]="confirmPassword"
    (focus)="confirmFocused = true"
    (blur)="confirmFocused = false">
  </ion-input>

  <ion-icon
    [name]="showConfirm ? 'eye-off' : 'eye'"
    slot="end"
    (click)="toggleConfirmVisibility()"
    *ngIf="confirmPassword || confirmFocused">
  </ion-icon>
</ion-item>


    <ion-note *ngIf="confirmError" color="danger" class="ion-padding-start">
      Passwords do not match.
    </ion-note>

    <!-- Photo -->
    <ion-button expand="block" color="medium" (click)="takePhoto()" class="ion-margin-top">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Take Photo <span style="color:red">*</span>
    </ion-button>

    <ion-thumbnail *ngIf="photo" class="ion-margin-top ion-text-center">
      <img [src]="photo" alt="User photo" />
    </ion-thumbnail>

    <!-- Register Button -->
    <ion-button
      expand="block"
      color="primary"
      (click)="register()"
      class="ion-margin-top"
      [disabled]="isUnderage">
      Register
    </ion-button>

  </ion-list>

  <div class="ion-text-center ion-margin-top">
    <p>Already have an account?
      <a (click)="goToLogin()" class="link">Sign in</a>
    </p>
  </div>
</ion-content>
