<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-content ion-padding">
  <div class="forgot-container">
    <h2>Reset Your Password</h2>

    <ion-item>
      <ion-input
        type="tel"
        placeholder="Enter Phone Number (e.g. 09123456789)"
        [(ngModel)]="phoneNumber"
        inputmode="numeric"
        maxlength="11"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="sendCode()">Send Code</ion-button>

    <div class="go-back" style="text-align: center; margin-top: 10px;">
      <small>Go Back To? <a (click)="goToLogin()">Log In</a></small>
    </div>
  </div>
</ion-content>
